.fondoTablas{
    background-color: #000000;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px, 20px, 20px, 20px;
}
.agregar{
    background-color: #f1f397;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-decoration: none;
}
.nombreColumna{
    background-color: rgb(255, 251, 127);
}